<a href="https://colab.research.google.com/github/jemjemster/FC_EDA/blob/main/python300-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 
- 51번 ~ 60번

In [ ]:
# 51번
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
# 52번
movie_rank = ["닥터 스트레인지","스플릿","럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 53번
movie_rank = ["닥터 스트레인지","스플릿","럭키","배트맨"]
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 54번
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
# 55번
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 56번
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 57번
nums = [1, 2, 3, 4, 5, 6, 7]
print("max",max(nums))
print("min", min(nums))

max 7
min 1

In [ ]:
# 58번
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
# 59번
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
# 60번 
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

- 61번 ~ 70번

In [ ]:
# 61번 
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 62번 
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 63번 
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 64번 
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# 65번 
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
# 66번 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 67번 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 68번 
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
# 69번 
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 70번
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## 튜플 
 - 71번 ~ 80번

In [ ]:
# 71번
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
# 72번
movie_rank = ("닥터 스트레인지","스플릿","럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
# 73번
my_tuple = (1,)

In [ ]:
# 74번
t = (1, 2, 3)
t[0] = 'a'  #튜플은 값 변경 못한다

TypeError: ignored

In [ ]:
# 75번
t = 1, 2, 3, 4
print(type(t))  #튜플은 괄호 안써도 사용가능하다.

In [ ]:
# 76번
t = ('A', 'b', 'c')

In [ ]:
# 77번
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
# 78번
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
# 79번
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)  # 변수에 값 할당

apple banana cake

In [ ]:
# 80번
data = tuple(range(2,100,2))
print(data)  #range(A,B,C) = A부터 B까지 C의 간격으로 B-1까지의 정수 반환

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 딕셔너리 
 - 81번 ~ 90번

In [ ]:
# 81번

In [ ]:
# 82번

{}

In [ ]:
# 83번

In [ ]:
# 84번
temp = {}
print(temp)

{}

In [ ]:
# 85번
data = {'메로나:1000','폴라포:1200','빵빠레:1800'}
print(data)

{'폴라포:1200', '빵빠레:1800', '메로나:1000'}

In [ ]:
# 86번
data = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
data["죠스바"] = 1200
data["월드콘"] = 1500
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 87번
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [ ]:
# 88번
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300    #수정할땐 딕셔너리이름[ 바꿀 값의 이름 ] = 가격
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 89번
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del(ice['메로나'])
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# 90번
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 딕셔너리에 없는 키 사용해서 인덱싱하면 에러 발생

SyntaxError: ignored

In [ ]:
# 91번 하나의 key에 value 여러개 넣고싶으면 리스트 이용
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 92번
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0], "원")

300 원

In [ ]:
# 93번
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1], "개")

20 개

In [ ]:
# 94번
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
# 95번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.keys()))
# ice = list(icecream,keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 96번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(list(icecream.values()))

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 97번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
print(sum(ice))
# sum(icecream.values())

6700

In [ ]:
# 98번
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
# 99번 zip은 묶어주는 함수 
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100번 
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}